{% extends 'Navbar/ProjectNavbar.html' %}
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login Page</title>
    <script src="https://kit.fontawesome.com/edc342caae.js" crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>

</head>
<body>
{% block body %}
    <div class="container d-flex flex-column justify-content-center shadow-lg p-5 mt-3">
      <center>
        <h2 class="mt-5" style="color: brown; text-decoration: underline;">Login</h2>
        <div class="row text-center">
          <form method="post" action="{% url 'UserLoginLogic' %}">
            {% csrf_token %}
            <div class="form-group">
                <label for="username" class="mb-3 mt-2">Username:</label>
                <center>
                  <input type="text" id="username" style="width:200px;" name="username" class="form-control" placeholder="Username" required>
                </center>
            </div>
            <div class="form-group mb-3">
                <label for="password" class="mb-3 mt-3">Password:</label>
                <center>
                  <input type="password" id="password" style="width:200px;" name="password" placeholder="Password" class="form-control" required>
                </center>
            </div>
            <button type="submit" class="btn btn-success mb-5 mt-3" href="#">Login</button>
            {% if error %}
                <div class="alert alert-danger" role="alert">
                    {{ error }}
                </div>
            {% endif %}
        </form>
        </div>
        </center>
    </div>
{% endblock %}
</body>
</html>